# Entornos virtuales
venv/
env/
.venv/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuración de IDE
.vscode/
.idea/

# Logs y datos
*.log
*.sqlite3

# Archivos temporales
*.tmp
*.temp

# Distribuciones
dist/
build/
*.egg-info/